<div class="nav-menu" [class.nav-menu-collapsed]="isMenuClosed" (mouseenter)="isMenuClosed && openMenu()"
    (mouseleave)="shouldMenuClosed && closeMenu()">

    <div class="nav-menu-header mb-4 flex items-center justify-between">
        <img src="assets/icons/m.jpg" alt="" width="40" class="cursor-pointer">
        <mat-icon fontIcon="menu" class="text-white cursor-pointer nav-fold" (click)="changeMenuStatus()">
        </mat-icon>
    </div>

    <div class="nav-menu-items">
        <ng-container *ngFor="let item of navItems">

            <ng-container [ngSwitch]="item.type">

                <ng-container *ngSwitchCase="navItemType.Item">
                    <app-navigation-item [item]="item"></app-navigation-item>
                </ng-container>

                <ng-container *ngSwitchCase="navItemType.Collapsable">
                    <app-navigation-collapsable [item]="item"></app-navigation-collapsable>
                </ng-container>

                <ng-container *ngSwitchCase="navItemType.Tabs">
                    <app-navigation-tabs [item]="item"></app-navigation-tabs>
                </ng-container>

                <ng-container *ngSwitchCase="navItemType.Group">
                    <app-navigation-group [item]="item"></app-navigation-group>
                </ng-container>

            </ng-container>

        </ng-container>
    </div>

</div>