<mat-icon class="action-button" mat-icon-button [matMenuTriggerFor]="menu" class="cursor-pointer">more_vert</mat-icon>

<mat-menu #menu="matMenu">
    <ng-container *ngFor="let action of actions">
        <button mat-menu-item (click)="emitAction(action)">
            <mat-icon [fontIcon]="iconMapping[action]" [ngClass]="matClasses[action]">
            </mat-icon>
            <span [ngClass]="classes[action]">
                {{action | titlecase | translate}}
            </span>
        </button>
    </ng-container>
</mat-menu>