:host {
    .nav-group {
        .nav-group-title-placeholder {
            display: none;
            height: 2px;
            width: 100%;
            background: #fff;
            opacity: 0.3;
        }
    }
}