<table mat-table [dataSource]="tableDataSource" matSort matSortActive="created" matSortDisableClear
    matSortDirection="desc" class="mat-elevation-z8 w-[97%] !min-w-0 mx-auto mt-4 !border-light-grey">

    <ng-container *ngFor="let col of tableCols; let i = index">
        <ng-container [matColumnDef]="col">
            <th mat-header-cell *matHeaderCellDef
                class="text-white ltr:first:rounded-tl-lg rtl:first:rounded-tr-lg ltr:last:rounded-tr-lg rtl:last:rounded-tl-lg">
                {{col | translate | titlecase}}
            </th>

            <!-- custom columns -->
            <ng-container *ngIf="col === 'no'">
                <td mat-cell *matCellDef="let data; let i = index;">
                    {{i+1}}
                </td>
            </ng-container>

            <ng-container *ngIf="col === 'image'">
                <td mat-cell *matCellDef="let data">

                    <ng-container *ngIf="data[col]; else defaultImage">
                        <img [ngSrc]="data[col]" class="w-9 h-9" width="36" height="36">
                    </ng-container>
                </td>
            </ng-container>

            <ng-container *ngIf="col === 'active'">
                <td mat-cell *matCellDef="let data">

                    <ng-container *ngIf="data[col] === true; else notActive">
                        <mat-icon fontIcon="check" class="text-active"></mat-icon>
                    </ng-container>
                </td>
            </ng-container>

            <ng-container *ngIf="col === 'actions'">
                <td mat-cell *matCellDef="let data">
                    <app-action-buttons [actions]="actions" (handleAction)="processAction($event, data)"></app-action-buttons>
                </td>
            </ng-container>

            <!-- this is the default col data if no custom columns -->
            <td mat-cell *matCellDef="let data">{{ data[col] }}</td>

        </ng-container>

    </ng-container>

    <tr mat-header-row *matHeaderRowDef="tableCols"></tr>
    <tr mat-row *matRowDef="let row; columns: tableCols;" class="even:bg-[#f2f2f2]"></tr>

</table>

<mat-paginator [pageSizeOptions]="[5, 10, 20, 50, 100]" [pageSize]="pageSize" [showFirstLastButtons]="true"
    [hidePageSize]="hidePageSize" class="w-[97%] mat-elevation-z8 mx-auto rounded-br-lg rounded-bl-lg mb-3">
</mat-paginator>

<ng-template #defaultImage>
    <img src="assets/icons/m.jpg" class="w-9 h-9">
</ng-template>

<ng-template #notActive>
    <mat-icon fontIcon="close" class="text-inactive"></mat-icon>
</ng-template>