<app-breadcrumbs [showBackButton]="true">
  <div class="breadcrumb-name">
    {{ "add product" | translate | titlecase }}
  </div>
</app-breadcrumbs>

<div class="create-product flex w-full p-4">
  <div class="create-product__sections-menu sections-menu flex basis-full">
    <mat-tab-group class="lg:!flex-row lg:w-full">
      @for (section of sections; track section.name) {

      <mat-tab>
        <ng-template mat-tab-label>
          <div class="flex justify-between items-center space-x-4">
            <span class="material-symbols-outlined text-base rtl:ml-3">
              {{ section.icon }}
            </span>
            <span class="text-slate-950 text-base font-normal tab-name">
              {{ section.name | translate | titlecase }}
            </span>
          </div>
        </ng-template>
        <ng-container #sectionContainer></ng-container>
      </mat-tab>
      }
    </mat-tab-group>
  </div>
</div>

<ng-template #generalTemplate>
  <div class="create-product__form w-full mt-4 mobile:mt-5">
    <div class="flex items-baseline justify-start form-row">

      <div class="mr-3 w-36">
        <label for="name">
          {{ "name" | translate | titlecase }}
        </label>
        <ng-container [ngTemplateOutlet]="requiredTemplate"></ng-container>
      </div>

      <app-form-fields [placeHolder]="'name'" [type]="'text'" [classNames]="['side-section-input']"></app-form-fields>
    </div>

    <div class="flex items-baseline justify-start mt-5 form-row">
      <div class="mr-3 w-36">
        <label for="description">
          {{ "short description" | translate | titlecase }}
        </label>
        <ng-container [ngTemplateOutlet]="requiredTemplate"></ng-container>
      </div>
      <app-form-fields [placeHolder]="'product description'" [type]="'textarea'" [classNames]="['side-section-input']"
        [textAreaMinRow]="4"></app-form-fields>
    </div>

    <div class="flex justify-start lg:mt-5 form-row items-center">
      <div class="mr-3 w-36">
        <label for="description">
          {{ "description" | translate | titlecase }}
        </label>
        <ng-container [ngTemplateOutlet]="requiredTemplate"></ng-container>
      </div>
      <app-form-fields [type]="'cdk'" [classNames]="['side-section-input']"></app-form-fields>
    </div>
  </div>
</ng-template>

<ng-template #inventoryTemplate>
  <div class="create-product__form w-full mt-4">
    <div class="flex items-baseline justify-start form-row">
      <div class="mr-3 w-36">
        <label for="amount">
          {{ "amount" | translate | titlecase }}
        </label>
        <ng-container [ngTemplateOutlet]="requiredTemplate"></ng-container>
      </div>
      <app-form-fields [placeHolder]="'amount'" [type]="'number'" [classNames]="['side-section-input']"
        [minValue]="2"></app-form-fields>
    </div>

    <div class="flex items-baseline justify-start form-row">
      <div class="mr-3 w-36">
        <label for="price">
          {{ "price" | translate | titlecase }}
        </label>
        <ng-container [ngTemplateOutlet]="requiredTemplate"></ng-container>
      </div>
      <app-form-fields [placeHolder]="'price'" [type]="'number'" [classNames]="['side-section-input', 'relative']"
        [minValue]="0" [textPrefix]="'$&nbsp;'"></app-form-fields>
    </div>

    <div class="flex items-baseline justify-start form-row">
      <div class="mr-3 w-36">
        <label for="discount">
          {{ "discount" | translate | titlecase }}
        </label>
      </div>
      <app-form-fields [placeHolder]="'discount'" [type]="'number'" [classNames]="['side-section-input', 'relative']"
        [minValue]="0" [textSuffix]="'%&nbsp;'" [hideNumberSpinner]="true"></app-form-fields>
    </div>

    <div class="flex items-baseline justify-start form-row">
      <div class="mr-3 w-36">
        <label for="sale-price">
          {{ "sale price" | translate | titlecase }}
        </label>
      </div>
      <app-form-fields [type]="'number'" [classNames]="['side-section-input', 'relative']" [readOnly]="true"
        [disabled]="true" [minValue]="0" [textPrefix]="'$&nbsp;'"></app-form-fields>
    </div>

    <div class="flex items-baseline justify-start form-row">
      <div class="mr-3 w-36">
        <label for="sale-price">
          {{ "sale status" | translate | titlecase }}
        </label>
      </div>
      <app-form-fields [type]="'slideToggle'" class="w-10"></app-form-fields>
    </div>

    <div class="flex items-baseline justify-start mt-5 form-row">
      <div class="mr-3 w-36">
        <label for="sale-price">
          {{ "sale start date" | translate | titlecase }}
        </label>
      </div>
      <app-form-fields [type]="'date'" [classNames]="['side-section-input']"></app-form-fields>
    </div>

    <div class="flex items-baseline justify-start form-row">
      <div class="mr-3 w-36">
        <label for="sale-price">
          {{ "sale end date" | translate | titlecase }}
        </label>
      </div>
      <app-form-fields [type]="'date'" [classNames]="['side-section-input']"></app-form-fields>
    </div>
  </div>
</ng-template>

<ng-template #setupTemplate> </ng-template>

<ng-template #imagesTemplate> d </ng-template>

<ng-template #seoTemplate> d </ng-template>

<ng-template #shippingTaxTemplate> d </ng-template>

<ng-template #statusTemplate> j </ng-template>


<ng-template #requiredTemplate>
  <label class="text-primary-400"> * </label>
</ng-template>
