<div class="nav-menu hidden lg:flex" [class.nav-menu-collapsed]="isMenuClosed" [class.nav-menu__mobile]="isMobileView"
    (mouseenter)="isMenuClosed && openMenu()" (mouseleave)="shouldMenuClosed && closeMenu()">

    <div class="nav-menu-header mb-4 flex items-center justify-between">
        <a [routerLink]="'/'">
            <img src="assets/icons/m.jpg" alt="" width="40" class="cursor-pointer rounded-full" >
        </a>
        <mat-icon fontIcon="menu" class="text-white cursor-pointer nav-fold" (click)="changeMenuStatus()">
        </mat-icon>
    </div>

    <div class="nav-menu-items">
        @for(item of navItems; track item.id) {
            @switch(item.type) {
                @case(navItemType.Item){
                    <app-navigation-item [item]="item"></app-navigation-item>
                }
                @case (navItemType.Collapsable) {
                    <app-navigation-collapsable [item]="item"></app-navigation-collapsable>
                }
                @case(navItemType.Tabs){
                    <app-navigation-tabs [item]="item"></app-navigation-tabs>
                }
                @case(navItemType.Group) {
                    <app-navigation-group [item]="item"></app-navigation-group>
                }
            }
        }

    </div>

</div>