<mat-tab-group class="nav-tab-group" [selectedIndex]="currentSelectedRootTab">
    <mat-tab label="tab1">
        <div class="flex justify-between items-center cursor-pointer py-2 px-2 hover-link mb-1" (click)="openTap()">
            <div class="flex items-center">
                <ng-container *ngIf="item.icon">
                    <mat-icon [fontIcon]="item.icon" class="ltr:mr-1 rtl:ml-1 text-white text-base"></mat-icon>
                </ng-container>
                <span class="text-white text-base nav-fold">{{item.title}}</span>
            </div>
            <mat-icon fontIcon="keyboard_arrow_right" class="text-white nav-fold rtl:hidden"></mat-icon>
            <mat-icon fontIcon="keyboard_arrow_left" class="text-white nav-fold ltr:hidden"></mat-icon>
        </div>

    </mat-tab>
    <ng-container *ngIf="openNextTab">
        <mat-tab label="tab2">
            <div class="children">
                <div class="flex justify-start items-center cursor-pointer tab-back-button" (click)="closeTab()">
                    <mat-icon fontIcon="keyboard_arrow_right" class="text-white ltr:hidden"></mat-icon>
                    <mat-icon fontIcon="keyboard_arrow_left" class="text-white rtl:hidden"></mat-icon>
                    <span class="text-secondary-300 text-base nav-fold">{{item.title}}</span>
                </div>

                <ng-container *ngFor="let child of item.children">

                    <ng-container [ngSwitch]="child.type">
                        <ng-container *ngSwitchCase="navItemType.Item">
                            <app-navigation-item [item]="child" class="nav-collapse"></app-navigation-item>
                        </ng-container>

                        <ng-container *ngSwitchCase="navItemType.Collapsable">
                            <app-navigation-collapsable [item]="child"
                                class="nav-collapse nav-collapse-l2"></app-navigation-collapsable>
                        </ng-container>

                        <ng-container *ngSwitchCase="navItemType.Tabs">
                            <app-navigation-tabs [item]="child" class="nav-collapse"></app-navigation-tabs>
                        </ng-container>
                    </ng-container>
                </ng-container>
            </div>
        </mat-tab>
    </ng-container>


</mat-tab-group>