@if(!item.hidden) {

<!-- item.url -->
@if(item.url && !item.externalUrl && !item.function) {
<a [routerLink]="item.url" [routerLinkActive]="['active-link']" class="nav-link hover-link"
    [routerLinkActiveOptions]="{ exact: item.exactMatch ? item.exactMatch : false }">
    <ng-container [ngTemplateOutlet]="itemContent" [ngTemplateOutletContext]="{item: item}"></ng-container>
</a>
}


<!-- item.externalUrl -->
@if(!item.url && item.externalUrl && !item.function) {
<a [href]="item.externalUrl" [target]="item.target" class="nav-link hover-link">
    <ng-container [ngTemplateOutlet]="itemContent" [ngTemplateOutletContext]="{item: item}"></ng-container>
</a>
}


<!-- item.function -->
@if(!item.url && item.function) {
<span (click)="item.function()" class="nav-link hover-link cursor-pointer">
    <ng-container [ngTemplateOutlet]="itemContent" [ngTemplateOutletContext]="{item: item}"></ng-container>
</span>
}

<!-- item.url && item.function -->
@if(item.url && item.function) {
<a (click)="item.function()" [routerLink]="item.url" [routerLinkActive]="['active-link']"
    [routerLinkActiveOptions]="{ exact: item.exactMatch ? item.exactMatch : false }" class="nav-link hover-link">
    <ng-container [ngTemplateOutlet]="itemContent" [ngTemplateOutletContext]="{item: item}"></ng-container>
</a>
}

<!-- item.externalUrl && item.function -->
@if(item.externalUrl && item.function) {
<a [href]="item.externalUrl" (click)="item.function()" [target]="item.target" class="nav-link hover-link">
    <ng-container [ngTemplateOutlet]="itemContent" [ngTemplateOutletContext]="{item: item}"></ng-container>
</a>
}

}

<ng-template #itemContent let-item="item">
    @if(item.icon) {
    <mat-icon [fontIcon]="item.icon" class="text-white text-base ltr:mr-1"></mat-icon>
    }

    <span class="text-white text-base nav-fold">{{item.title | translate | titlecase}}</span>

    @if(item.badge) {
    <span class="text-white text-base nav-fold">{{item.badge.title}}</span>
    }

</ng-template>