/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'assets/styles/custom-classes.scss';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@layer components {
  .active-link {
    @apply py-2 pl-px pr-0 -ml-5 bg-blue-700 text-white font-semibold rounded-md shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
    
    &> :first-child {
      margin-left: 1.25rem;
    }
  }
}


::-webkit-scrollbar {
  width: 10px;
  height: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: #4299e1;
  border-radius: 1.5px;

}

::-webkit-scrollbar-track {
  background-color: #EDF2F7;
}




