/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'assets/styles/custom-classes.scss';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


::-webkit-scrollbar {
  width: 10px;
  height: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: theme('colors.primary.300');
  border-radius: 1.5px;

}

::-webkit-scrollbar-track {
  background-color: #EDF2F7;
}




