.nav-collapse {

  &> :first-child {
    margin-left: 20px;
  }
}

.hover-link {
  @apply hover:bg-primary-700 hover:font-medium hover:rounded-md;
}

.nav-menu-collapsed {
  width: 6rem !important;
  align-items: center;

  .nav-fold {
    display: none;
  }

  .nav-group {
    .nav-group-title-placeholder {
      display: inline-block !important;
    }
  }

  mat-icon {
    margin-right: 0;
    margin-left: 0.5rem;
  }

  .nav-collapse {
    &> :first-child {
      margin-left: 0;
    }
  }

  .tab-back-button {
    display: none;
  }

}


.rtl {
  direction: rtl;

  .nav-menu-collapsed {
    mat-icon {
      margin-right: 0.5rem;
      margin-left: 0;
    }

    .nav-collapse {
      &> :first-child {
        margin-right: 0;
      }
    }
  }

  .nav-collapse {

    &> :first-child {
      margin-right: 20px;
    }
  }
}

.ltr {
  direction: ltr;
}

.create-produc-input {
  flex-grow: 1;

  mat-form-field {
    width: 50%;
  }
}



.create-product__sections-menu {
  .mat-mdc-tab-labels {
    flex-direction: column;
  }

  .mdc-tab-indicator {
    display: none;
  }

  .mdc-tab--active {
    @apply bg-primary-800 rounded-md font-medium;
  }

  .mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
    @apply hover:text-custom-light-grey text-custom-light-grey focus:text-custom-light-grey;
  }

  .mat-mdc-tab.mdc-tab--active:focus .mdc-tab__text-label {
    @apply text-custom-light-grey
  }
}