.nav-collapse {

  &> :first-child {
    margin-left: 20px;
  }
}

.hover-link {
  @apply hover:bg-primary-700 hover:font-medium hover:rounded-md;
}

.nav-menu-collapsed {
  width: 6rem !important;
  align-items: center;

  .nav-fold {
    display: none;
  }

  .nav-group {
    .nav-group-title-placeholder {
      display: inline-block !important;
    }
  }

  mat-icon {
    margin-right: 0;
    margin-left: 0.5rem;
  }

  .nav-collapse {
    &> :first-child {
      margin-left: 0;
    }
  }

  .tab-back-button {
    display: none;
  }

}


.rtl {
  direction: rtl;

  .nav-menu-collapsed {
    mat-icon {
      margin-right: 0.5rem;
      margin-left: 0;
    }

    .nav-collapse {
      &> :first-child {
        margin-right: 0;
      }
    }
  }

  .nav-collapse {

    &> :first-child {
      margin-right: 20px;
    }
  }
}

.ltr {
  direction: ltr;
}


